@charset "UTF-8";

/* -------------------------------
// additional reset
------------------------------- */

body, p, table, blockquote, address, pre, iframe, form, figure, dl, dt, dd, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

b {
  font-weight: bold;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------
// variable
------------------------------- */

:root {
  --text-base:#414141;
  --epson-color:#004098;
  --accent-color:#4EC6D9;
  --bg-color-01:#E9FDFE;
  --bg-color-02:#ABE7E9;
}

/* -------------------------------
// base
------------------------------- */

html {
  font-size: 62.5%;
}

body {
  color: var(--text-base);
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
}

/* -------------------------------
// header
------------------------------- */

.l-header {
  background-color: #fff;
  padding: 0 32px;
  width: 100%;
  height: 100px;
}

.l-header__inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.l-header__epson {
  display: block;
  transition: opacity .3s;

  &:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 1024px) {
  .l-header {
    height: 60px;
  }

  .l-header__epson {
    width: 88px;
  }
}

@media screen and (max-width: 640px) {
  .l-header {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* -------------------------------
// footer
------------------------------- */

.l-footer {
  background-color: var(--epson-color);
  color: #fff;
  min-height: 60px;
  padding: 22px 32px;
  width: 100%;
}

.l-footer__copyright {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .l-footer {
    min-height: 40px;
    padding-top: 11px;
    padding-bottom: 9px;
  }
}

@media screen and (max-width: 640px) {
  .l-footer {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* -------------------------------
// layout
------------------------------- */

.l-contents {
  background-color: var(--bg-color-01);
  overflow: hidden;
  padding: 32px 32px 0;
}

@media screen and (max-width: 640px) {
  .l-contents {
    padding: 16px 16px 0;
  }
}

/* -------------------------------
// components
------------------------------- */

.c-textlink {
  color: var(--epson-color);
  transition: opacity .3s;

  &:hover {
    opacity: .8;
  }
}

.c-heading02 {
  color: var(--epson-color);
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 70px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .c-heading02 {
    font-size: 3.2rem;
    margin-bottom: 24px;
  }
}

.c-pagetop {
  position: fixed;
  right: 36px;
  bottom: 90px;

  /* bottom: 90px; */
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  line-height: 1;
  z-index: 10;
}

.c-pagetop__link {
  color: var(--epson-color);
  padding-top: 22px;
  position: relative;

  &::before {
    content: '';
    background-color: var(--epson-color);
    display: block;
    margin: auto;
    -webkit-mask-image: url(../img/arrow.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url(../img/arrow.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: rotate(-90deg);
    transition: transform .3s;
    width: 19px;
    height: 11px;
  }

  &:hover::before {
    transform: translateY(-4px) rotate(-90deg);
  }
}

@media screen and (max-width: 640px) {
  .c-pagetop {
    right: 15px;
    bottom: 64px;
  }
}

/* -------------------------------
// home
------------------------------- */

.home-section {
  padding-top: 80px;
  margin-bottom: 120px;
}

@media screen and (max-width: 1024px) {
  .home-section {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

/* -------------------------------
// home - mainvisual
------------------------------- */

.mv {
  background-image: url(../img/bg_dots.svg);
  background-position: center top;
  background-repeat: repeat;
  background-size: 26px;
  .mv__inner {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 960px;
    width: 100%;
  }
  .mv__content {
    width: 532px;
    .mv__heading {
      display: flex;
      align-items: flex-end;
      gap: 4px 22px;
      .mv__logo {}
    }
    .mv__deco {
      color: var(--epson-color);
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 16px;
      position: relative;
      z-index: 1;
      &::after {
        content: '';
        background-color: var(--bg-color-02);
        border-radius: 6px;
        display: block;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 0.3em;
        z-index: -1;
      }
    }
    .mv__lead {
      color: var(--epson-color);
      font-weight: 700;
      margin-top: 28px;
    }
    .mv__item-name{
      display: inline-block;
      font-size: 3.2rem;
      line-height: 1.5;
      color: #fff;
      margin-top: 30px;
      padding: 2px 29px;
      background-color: var(--epson-color);
      border-radius: 1em;
      text-align: center;
    }
  }
  .mv__img {
    width: calc(96% - 564px);
  }
  //トップ
  &.mv--home{
    .mv__inner {
      padding-bottom: 30px;
      gap: 20px 0;
      max-width: 1160px;
    }
    .mv__content {
      width: 554px;
      padding-right: 20px;
      .mv__heading {
        display: flex;
        align-items: flex-end;
        gap: 4px 22px;
        .mv__logo {}
      }
      .mv__deco {
        color: var(--epson-color);
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 16px;
        position: relative;
        z-index: 1;
        &::after {
          content: '';
          background-color: var(--bg-color-02);
          border-radius: 6px;
          display: block;
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 100%;
          height: 0.3em;
          z-index: -1;
        }
      }
      .mv__lead {
        color: var(--epson-color);
        font-weight: 700;
        margin-top: 28px;
      }
      .mv__item-name{
        display: inline-block;
        font-size: 3.2rem;
        line-height: 1.5;
        color: #fff;
        margin-top: 30px;
        padding: 2px 29px;
        background-color: var(--epson-color);
        border-radius: 1em;
        text-align: center;
      }
    }
    .mv__img {
      width: calc(100% - 554px);
      padding-right: 35px;
      img{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .mv {
    .mv__content {
      width: 432px;
      .mv__logo {
        width: 256px;
      }
      .mv__deco {
        font-size: 3.8rem;
        margin-bottom: 12px;
      }
    }
    .mv__img {
      width: calc(96% - 464px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .mv {
    padding-right: 14px;
    padding-bottom: 40px;
    padding-left: 14px;
    .mv__inner {
      flex-direction: column-reverse;
      align-items: center;
    }
    .mv__content {
      max-width: 532px;
      width: 100%;
      .mv__heading {
        justify-content: center;
      }
    }
    .mv__img {
      max-width: 360px;
      width: 66%;
    }
  }
}

@media screen and (max-width: 640px) {
  .mv {
    .mv__content {
      .mv__heading {
        flex-direction: column;
        align-items: center;
      }
      .mv__deco {
        margin-bottom: initial;
      }
      .mv__lead {
        margin-top: 24px;
      }
    }
  }
}

/* -------------------------------
// home - menu
------------------------------- */

.home-menu {
  padding: 0 56px;
  position: relative;
  z-index: 1;

  &::before, &::after {
    content: '';
    border-radius: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 196px);
    z-index: -1;
  }

  &::before {
    background-color: var(--bg-color-02);
    position: absolute;
  }

  &::after {
    background-color: #fff;
    -webkit-mask-image: url(../img/bg_dots.svg);
    -webkit-mask-position: center top;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: 26px;
    mask-image: url(../img/bg_dots.svg);
    mask-position: center top;
    mask-repeat: repeat;
    mask-size: 26px;
  }
}

.home-menu__lists {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1160px;
  width: 100%;
}

.home-menu__item {
  margin-bottom: 50px;
  width: 46.55%;
}

.home-menu__link {
  width: 100%;
  aspect-ratio: 540 / 464;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 32px 0px rgba(108, 184, 196, 0.16);
  color: var(--text-base);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 35px 0 33px;
  position: relative;
  text-align: center;
}

.home-menu__title {
  height: calc(42% - 51px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.6rem;
  line-height: calc(40 / 36);
  font-weight: 700;
  span {
    display: block;
    margin-top: 12px;
    font-size: 66.667%;
  }
}

.home-menu__img {
  width: 100%;
  height: 58%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s;
  &.-id206 img{
    width: 29.8%;
  }
  &.-mt-100 img{
    width: 35%;
  }
}

.home-menu__btn {
  height: 51px;
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 4px 57px;
  transition: background-color .3s, color .3s;
  position: relative;
  &::before{
    content: '';
    width: 17px;
    height: 100%;
    background-image: url(../img/icon_arrow_blue.svg);
    background-position: center;
    background-size: 100%;
    position: absolute;
    right: 16px;
    top: 0;
  }
}

.home-menu__tel {
  background-color: #C1EAF1;
  border-radius: 8px;
  color: var(--epson-color);
  display: inline-block;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 auto;
  padding: 3px 22px 0;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    background-color: #C1EAF1;
    border-top-left-radius: 10px;
    display: block;
    margin: auto;
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    transform: rotate(45deg) skew(20deg, 20deg);
    width: 20px;
    height: 20px;
    z-index: -1;
  }
}

.home-menu__link:hover {
  &::before {
    transform: translate(20px, -20px) rotate(-45deg);
  }

  .home-menu__img {
    transform: rotate(15deg);

    &.-tel {
      transform: none;
    }
  }

  .home-menu__btn {
    background-color: var(--accent-color);
    &::before{
      background-image: url(../img/icon_arrow_white.svg);
    }
    color: #fff;
  }
}

.home-menu__supple {
  margin-top: 32px;
}

.home-menu__pdf {
  background-color: #fff;
  border: 2px solid var(--accent-color);
  border-radius: 32px;
  color: var(--text-base);
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin: auto;
  padding: 9px 40px 7px 16px;
  position: relative;
  text-align: center;
  transition: background-color .3s, color .3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  &::after {
    content: '';
    background-color: var(--accent-color);
    display: block;
    margin: auto;
    -webkit-mask-image: url(../img/icon_pdf.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url(../img/icon_pdf.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    transition: background-color .3s;
    width: 17px;
    height: 19px;
  }

  &:hover {
    background-color: var(--accent-color);
    color: #fff;

    &::after {
      background-color: #fff;
    }
  }
}

.home-menu__notes {
  font-size: 1.8rem;

  &:last-child {
    margin-bottom: 16px;
  }

  li {
    margin-left: 22px;
    position: relative;

    &::before {
      content: '※';
      position: absolute;
      left: -22px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .home-menu__title {
    height: calc(42% - 44px);
    font-size: clamp(2rem, 3.3vw, 3rem);
    span {
      margin-top: 0.444em;
      font-size: clamp(1.6rem, 2.2vw, 2rem);
    }
  }

  .home-menu__img {
    margin: 0;
    &.-id206{
      img{
        width: 26.8%;
      }
    }
    &.-mt-100{
      img{
        width: 32%;
      }
    }
  }

  .home-menu__btn {
    height: auto;
    font-size: 2rem;
  }

  .home-menu__tel {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 1024px) {
  .home-menu {
    padding-right: 40px;
    padding-left: 40px;
  }

  .home-menu__link {
    aspect-ratio: 287 / 334;
    &::before {
      top: -6px;
    }

    &.-free-dial {
      pointer-events: initial;
    }
  }

  .home-menu__title {
    height: calc(42% - 38px);
    font-size: clamp(2rem, 3.3vw, 3.6rem);
    span {
      margin-top: 0.444em;
      font-size: clamp(1.6rem, 2.2vw, 2.4rem);
    }
  }

  .home-menu__img {
    &.-id206{
      img{
        width: 40.8%;
      }
    }
    &.-mt-100{
      img{
        width: 46%;
      }
    }
  }

  .home-menu__btn {
    width: 192px;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.6rem;
    &::before{
      width: 11px;
      right: 11px;
    }
  }

  .home-menu__tel {
    font-size: 2.8rem;
    line-height: 1.3;
    padding-right: 16px;
    padding-left: 16px;

    &::before {
      top: -8px;
    }
  }

  .home-menu__pdf {
    font-size: 1.4rem;

    &::after {
      right: 14px;
    }
  }

  .home-menu__notes {
    font-size: 1.4rem;

    li {
      margin-left: 16px;

      &::before {
        left: -16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-menu {
    padding-right: 28px;
    padding-left: 28px;

    &::before, &::after {
      border-radius: 10px;
      height: calc(100% - 120px);
    }
  }

  .home-menu__lists {
    flex-direction: column;
  }

  .home-menu__item {
    margin: 0 auto 40px;
    max-width: 540px;
    width: 100%;
  }

  .home-menu__title {
    font-size: clamp(2rem, 6.4vw, 3.6rem);
    span {
      font-size: clamp(1.6rem, 4.8vw, 2.4rem);
    }
  }

  .home-menu__link {
    aspect-ratio: unset;
    padding: max(27px, 7.2vw) 12px max(24px, 6.4vw);
    &::before {
      right: -23px;
      width: clamp(52px, 18%, 80px);
    }
  }

  .home-menu__img {
    margin: 0;
    &.-id206{
      margin: max(20px, 5.3vw) auto max(11px, 2.9vw);
      img{
        width: 46.8%;
      }
    }
    &.-mt-100{
      margin: max(41px, 10.7vw) auto;
      img{
        width: 52%;
      }
    }

    &.-tel {
      width: clamp(128px, 20vw, 144px);
    }
  }

  .home-menu__tel {
    margin-top: 12px;
  }

  .home-menu__supple {
    margin-top: 14px;
  }

  .home-menu__notes:last-child {
    margin-bottom: initial;
  }
}

@media screen and (max-width: 640px) {}

/* pdfボタン：長いため改行あり */

.home-menu__pdf.-wrap br {
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .home-menu__pdf.-wrap {
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 40px;
    width: 100%;

    br {
      display: block;
    }
  }
}

@media screen and (max-width: 480px) {
  .home-menu__pdf.-wrap {
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 40px;
    width: 100%;

    br {
      display: block;
    }
  }
}

/* -------------------------------
// home - reference
------------------------------- */

.home-reference {
  background-color: var(--bg-color-02);
  margin: 0 calc(50% - 50vw);
  padding: 80px 32px;
  position: relative;
  width: 100vw;
  z-index: 1;

  &::before {
    content: '';
    background-color: #fff;
    display: block;
    -webkit-mask-image: url(../img/bg_dots.svg);
    -webkit-mask-position: center top;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: 26px;
    mask-image: url(../img/bg_dots.svg);
    mask-position: center top;
    mask-repeat: repeat;
    mask-size: 26px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.home-reference__inner {
  margin: auto;
  max-width: 1160px;
  width: 100%;
}

.home-reference__more {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 32px 0px rgba(108, 184, 196, 0.16);
  color: var(--text-base);
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  margin: auto;
  max-width: 960px;
  padding: 50px 40px;
  position: relative;
  text-align: center;
  transition: background-color .3s, color .3s;
  width: 100%;

  &::after {
    content: '';
    background-color: var(--accent-color);
    display: block;
    margin: auto;
    -webkit-mask-image: url(../img/arrow.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url(../img/arrow.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    transition: background-color .3s, transform .3s;
    width: 35px;
    height: 22px;
  }

  &:hover {
    background-color: var(--accent-color);
    color: #fff;

    &::after {
      background-color: #fff;
      transform: translateX(10px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-reference {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home-reference__more {
    border-radius: 8px;
    font-size: 1.8rem;
    max-width: 560px;
    padding-top: 24px;
    padding-bottom: 24px;

    &::after {
      right: 18px;
      width: 23px;
      height: 15px;
    }
  }
}

@media screen and (max-width: 640px) {
  .home-reference {
    padding-right: 16px;
    padding-left: 16px;
  }
}
